.comentsMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 3px red;
    height: 930px;
    width: 100%;
}

.allcomments{
    border: solid 3px rgb(0, 255, 17);
    height: 100%;
    width: 100%;
}

.addComments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    bottom: 7px;
    position: fixed;
    border: solid 3px rgb(0, 255, 17);
    height: 10%;
    width: 100%;
    z-index: 500;
}
.commentShowBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
