.navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  flex-direction: column;
  /* border: solid 3px red; */
  position: relative;
    /* border: solid 3px red; */
    width: auto;
}

.boxE11 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;

}

.boxE12 {
  margin-right: 3%;
}

.searchre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.231);
  /* border: solid 3px red; */
  width: 70%;
  height: auto;
  z-index: 2000;
 
  border-radius: 5px;
  position: absolute;
  top: 80px; /* Adjust this value to increase the size downwards */
}
