@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");

.footer {
  position: sticky;
  bottom: 0;
}

/* 
.chatContainer{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 2fr;
} */

.chatContainer {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.244);
  border: 1px solid rgb(0, 0, 0);

  display: flex;
  width: 100vw;

  flex-direction: row;
  height: 86vh;
  /* overflow-y: hidden; */
  margin-bottom: 10px;
  background-color: rgba(0, 80, 160, 0.687);
}

.chatRoomSection {
  /* border: 1px solid red; */

  width: 40vw;
  border: none;
  box-shadow: 40px;
}
.chatRoomSectionClicked {
  display: grid;
  grid-template-rows: 6% 90%;
  width: 40vw;
  border: none;
  box-shadow: 40px;
  filter: blur(5px);
}

.chatMessagesSection {
  /* border: 1px solid red; */
  width: 60vw;
  border: none;
}
.chatMessagesSectionClicked {
  width: 60vw;
  border: none;
  filter: blur(5px);
}

/* ====================chat room section */

.createIcon {
  border-radius: 10px;

  color: rgb(103, 103, 103);
  transform: scale(1.2);
  /* transition: transform 0.3s ease-in-out; */
}

.createIcon:hover {
  transform: scale(1.2);
  background-color: rgb(204, 204, 204);
}

.chatRoomSection {
  /* border: 1px solid green; */

  display: grid;
  grid-template-rows: 6% 90%;
}
.chatSearchSection {
}
.chatRoomSearchBtn {
  margin-bottom: 10px;
  padding: 5px 5px;
  border: none;
  width: 85%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  outline: none;
}

.chatRoomSearchBtn:focus {
  border: none; /* Remove the border on focus */
  /* Add any other styles you want when the input is focused */
}
.createNewRoomBtn {
  width: 15%;
  padding: 5px 5px;
  font-weight: bold;
  height: 100%;
  border: none;
  cursor: pointer;

  background-color: white;
}
.displayChatRooms {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.893);
}
.photoNameSet {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.photoNameSet a {
  margin-left: 15px;
}
.chatRoom {
  border-bottom: 0.5px solid rgba(177, 177, 177, 0.89);
  padding: 10px;
  display: flex;
  justify-content: space-between;

  color: rgb(0, 0, 0);
}
/* .chatRoom button */
.displayNo {
  display: none;
}
.currentChatRoomSET {
  background-color: rgba(0, 5, 160, 0.436);
}
.chatRoom:hover {
  background-color: rgba(136, 190, 219, 0.285);
  transition-delay: 0.1s;
}
/* ==================messages section */

.chatMessagesSection {
  display: flex;
  flex-direction: column;
}

.currentchatNameandPhoto {
  display: inline-flex;
  align-items: center;
  padding: 10px;

  color: white;
  font-weight: 600;
  font-size: 1.2em;
  z-index: 10;

  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.244);
}
.chatRoomName {
  margin-left: 20px;
}
.messagesDisplayArea {
  /* border: 1px solid brown; */
  background-color: rgba(255, 255, 255, 0.893);
  display: flex;
  flex-direction: column;

  height: 90vh;
  overflow-y: scroll;
}
.plus {
  /* margin-right: 10px; */
  height: 100%;
  width: 100%;
}

.messageUser {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.601);
  border-bottom: 1px solid rgb(179, 179, 179);
}
.messageUser a {
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 5, 160, 0.737);
}
.messageUser p {
  color: rgb(0, 0, 0);
  font-style: oblique;
}
.timeContainer {
  font-size: 0.8em;
  opacity: 0.8;
}

.messagesSendOption {
  display: inline-flex;
  height: 50px;
}
.sendMessageBtn {
  width: 20%;
  background-color: rgba(0, 5, 160, 0.325);
  border-top-right-radius: 10px;
  color: white;
}
.sendMessageInput {
  border-top-left-radius: 10px;
  width: 80%;
  padding: 8px;
  /* background-color: red; */
  border-top: 3px solid rgba(0, 5, 160, 0.436);
}
/* =======create room */
.clickedCreateRoom {
  height: 70vh;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 40px -10px;

  background-color: rgb(231, 231, 231);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  transition: opacity 0.5s ease-in-out, transform 2s ease-in-out;
  border: 1px solid black;
}

.createRoom {
  display: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top: 20%;
}
.aavatar {
  margin-bottom: 40px;

  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.741);
  transition: transform 0.3s ease-in-out;
}
.aavatar:hover {
  transform: scale(1.2);
}

.formContainer input {
  padding: 5px;
  margin-top: 10px;
  width: 100%;
}
.formContainer button {
  margin-top: 10px;
  padding: 5px;
  background-color: rgba(47, 122, 192, 0.845);
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  border: 0.1px solid rgb(0, 0, 0);
}
.backBtn {
  position: absolute;
  margin-right: 20px;
  margin-top: 20px;
  right: 0;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: background-color 0.1s ease-in-out;
}
.backBtn:hover {
  background-color: rgba(238, 238, 238, 0.561);
}
.errorHandleArea {
  color: red;
}
.createLoaderOFF {
  display: none;
}
.createLoaderON {
  display: block;
}
/* ?added a */
.addedandPlus {
  display: inline-flex;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  align-items: center;
  color: rgba(0, 5, 160, 0);
  
}
.addedandPlus:hover{
  background-color: rgba(240, 248, 255, 0);
}
.joinedText {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
@media only screen and (max-width: 600px) {
  .chatContainer {
    margin-top: 20px;
    width: 100vw;
  }
}
.displayYes {
  background-color: rgba(34, 70, 94, 0.254);
  display: absolute;
  right: 0;
}
