.header1 {
    position: sticky;
    top: 0;

    z-index: 2000;
}

.footer {
    position: sticky;
    bottom: 0;
    
}


/* 
.chatContainer{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 2fr;
} */

/* .chatMain{
    overflow-y: hidden;
} */
.chatContainer {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 86vh;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.chatRoomSection{
    border: 1px solid red;
}

.chatMessagesSection{
    border: 1px solid red;
}

/* ====================chat room section */

.chatRoomSection{
    border: 1px solid green;
    display: grid;
    grid-template-rows: 5% 90%;
}
.chatSearchSection{
    border: 1px solid blue;
}
.chatRoomSearchBtn{
    padding: 5px 5px;
    width: 85%;
    background-color: rgb(255, 255, 255);
}
.createNewRoomBtn{
    width: 15%;
    padding: 5px 5px;
    font-weight: bold;

}
.displayChatRooms{
    display: flex;
    flex-direction: column;
    
}
.chatRoom{
    border: 1px solid rgb(222, 222, 222);
    padding: 10px;
}
.chatRoom:hover{
    background-color: rgb(0, 113, 0);
}
/* ==================messages section */

.chatMessagesSection{
    display: grid;
    
}

.chatRoomName{
    border: 1px solid pink;
    background-color: rgb(227, 224, 224);
    color: rgb(25, 65, 36);
    height: 30px;
}
.messagesDisplayArea{
    border: 1px solid brown;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow-y: scroll;
}
.chatMessageUser{
    border: 1px solid black;

}
.messagesSendOption{
    display: inline-flex;
    position: sticky;
    bottom: 0;
    
}
.sendMessageBtn{
    width: 20%;
    background-color: rgb(173, 173, 173);
}
.sendMessageInput{
    width: 80%;
    padding: 8px;
}
