.headerE {
  position: sticky;
  top: 0;
  z-index: 2000;
}
.mainE {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* border: solid 3px black; */
  height: auto;
  width: 100%;
  overflow-y: hidden;
}

.boxE1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* border: solid 3px rgb(238, 6, 6); */
  height: 50px;
  width: 300px;

  background-color: rgb(255, 255, 255);
  margin: 3%;
  border-radius: 10px;
}
.boxE11 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxE12 {
  margin-right: 3%;
}
.boxE2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: solid 3px rgb(238, 6, 6); */
  height: 50rem;
  width: 90%;
  overflow-y: hidden;
}
.boxE3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: solid 3px rgb(238, 6, 6); */
  height:200vh;
  width: 90%;
  overflow-y: hidden;
  background-color: rgba(152, 151, 151, 0.142);
  margin: 3%;
  backdrop-filter: blur(10px);
  gap: 5px;
  padding: 70px;
}
.boxE31 {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
}
.boxE311{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 50%;
  background-color: rgba(148, 148, 148, 0.336);
  backdrop-filter: blur(10px);
}

.footerE {
  position: sticky;
  bottom: 0;
}
