.headerE {
  position: sticky;
  top: 0;
  z-index: 2000;
}
.mainE {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* border: solid 3px black; */
  height: auto;
  width: 100%;
  overflow-y: hidden;
}

.boxE1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* border: solid 3px rgb(238, 6, 6); */
  height: 50px;
  width: 300px;

  background-color: rgb(255, 255, 255);
  margin: 3%;
  border-radius: 10px;
}
.boxE11 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxE12 {
  margin-right: 3%;
}
.boxE2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: solid 3px rgb(238, 6, 6); */
  height: 50rem;
  width: 90%;
  overflow-y: hidden;
}
.boxE3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: solid 3px rgb(238, 6, 6); */
  height: 200vh;
  width: 90%;
  overflow-y: hidden;

  background: linear-gradient(rgba(201, 201, 201, 0.208), rgb(255, 255, 255));
  margin: 3%;
  backdrop-filter: blur(10px);
  gap: 20px;
  padding: 70px;
}
.boxE31 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 50%;
  background: linear-gradient(rgba(105, 239, 114, 0), rgba(56, 57, 56, 0));

  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: solid 3px black;
}
.boxE311 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  background-color: none;

  border-right: solid 3px rgb(0, 0, 0);
  gap: 20px;
}
.boxE32 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 35%;
  background: linear-gradient(
    rgba(244, 244, 244, 0.153),
    rgba(255, 255, 255, 0.038)
  );
  border: solid 3px black;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.boxE321 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid 3px rgb(0, 0, 0);
  height: 30px;
  width: 60%;
  height: 90%;
  gap: 20px;
}
.boxE3211 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 10%;
  gap: 10px;
  padding: 20px;

  background-color: rgba(0, 0, 0, 0.723);
  border-radius: 10px;
  animation: upDownMotion 2s ease-in-out infinite;
}
.boxE3212 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.boxE3212 ul {
  display: flex;

  flex-direction: row;

  gap: 10px;
}
.boxE3212 li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  flex-direction: column;
  gap: 10px;

  background-color: rgba(8, 8, 8, 0.697);
  border-radius: 7px;
  animation: upDownMotion 2s ease-in-out infinite;
}

.footerE {
  position: sticky;
  bottom: 0;
}

@keyframes upDownMotion {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px); /* Adjust the distance as needed */
  }
}
