.maine {
  display: flex;
  width: 100%;
  border: solid 3px rebeccapurple;
  height: 100%;
}

.eduContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hero {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* background-color: aquamarine; */
}

.left {
  width: 40%;
  display: flex;
  justify-content: center;
}
.left img {
  background-size: contain;
}

.right {
  background-color: bisque;
  width: 50%;
}
