.header1 {
  position: sticky;
  top: 0;
  z-index: 2000;
}

.footer {
  position: sticky;
  bottom: 0;
}

.main2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 400vh; /* Adjusted height for responsiveness */
}


.boxH1 {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideshow 60s linear infinite;
  backdrop-filter: blur(15px);
  border-radius: 10px;
}
.custom-typewriter {
  font-size: 20px; /* Adjust the font size as needed */
  /* Add any other styles you want */
  font-style: "Inconsolata";
}

@keyframes slideshow {
  0%,
  24.2% {
    background-image: url("https://r4.wallpaperflare.com/wallpaper/33/261/282/5bd28eeaec175-wallpaper-798098fda1aa5deb0677c83f7061e6ed.jpg");
  }
  25%,
  49.2% {
    background-image: url("https://r4.wallpaperflare.com/wallpaper/764/431/702/river-trees-forest-clouds-wallpaper-d4ba55cd41062d25051044aa61cfaf9c.jpg");
  }
  50%,
  100% {
    background-image: url("https://r4.wallpaperflare.com/wallpaper/270/709/236/macos-mojave-macbook-pro-apple-computer-wallpaper-07ff12647fa5af1aef72f49111118755.jpg");
  }
}

.boxH11 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 45vh;
  width: 80%; /* Adjusted width for responsiveness */
  margin: 0 auto; /* Centered the element */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.162);
  backdrop-filter: blur(5px);
  color: rgb(232, 229, 229);
}

.boxH2 {
  display: flex;
  height: 60vh;
  width: 80%; /* Adjusted width for responsiveness */
  background-size: cover;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 50px;
  align-self: center; /* Centered the element */
  gap: 30%;
}

.boxH21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%; /* Adjusted width for responsiveness */
  height: 40vh;
  opacity: 1;
  font-size: 1rem;
  border-bottom: solid #34db37;
  border-top: solid #34db37;
}
.boxH22 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px; /* Adjust the width and height as needed */
  height: 300px;
  background-color: #34db37; /* Adjust the background color as needed */
  border-radius: 50%;
  /* Adjusted width for responsiveness */
  opacity: 1;
  background: url("https://github.com/Himanshu-Shukla1235/GDSC---2024--/blob/main/frontend/Evi/public/images/03e1ce49-9ac5-42ee-97c6-f8bc2b3b44c3.png?raw=true")
    center/cover no-repeat;
  animation: upDownMotion 2s ease-in-out infinite;
}
/* CSS for smooth up and down motion */
@keyframes upDownMotion {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the distance as needed */
  }
}

.boxH3 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80vh;
  width: 95%; /* Adjusted width for responsiveness */
  background-color: rgba(255, 255, 255, 0.342);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 3px center;

  align-self: center; /* Centered the element */

  background: url("https://wepik.com/api/image/ai/9b459a42-4179-4962-b3c1-aa18c2f25a28?thumb=1")
    center/cover no-repeat;

  border-radius: 10px;
  border: solid 3px black;
}
.boxH31 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.297);
  height: 95%;
  width: 95%;
  backdrop-filter: blur(8px);
}

.boxH4 {
  display: flex;
  height: 60vh;
  width: 80%; /* Adjusted width for responsiveness */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 50px;
  align-self: center; /* Centered the element */
  overflow: hidden;
  gap: 40%;
}
.boxH41 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%; /* Adjusted width for responsiveness */
  opacity: 1;
  font-size: 1rem;
  height: 40vh;
  border-bottom: solid #34db37;
  border-top: solid #34db37;
}
.boxH42 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px; /* Adjust the width and height as needed */
  height: 400px;
  background-color: #34db37; /* Adjust the background color as needed */
  border-radius: 50%;
  /* Adjusted width for responsiveness */
  opacity: 1;
  background: url("https://github.com/Himanshu-Shukla1235/GDSC---2024--/blob/main/frontend/Evi/public/images/air%20polutedEarth.jpg?raw=true")
    center/cover no-repeat;
  animation: upDownMotion 2s ease-in-out infinite;
}

.boxH5 {
  display: flex;
  height: 80vh;
  width: 95%; /* Adjusted width for responsiveness */
  background-color: rgba(255, 255, 255, 0.342);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 3px center;

  align-self: center; /* Centered the element */

  background: url("") center/cover no-repeat;

  border-radius: 10px;
  border: solid 3px black;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .boxH1,
  .boxH11,
  .boxH3 {
    width: 100%;
  }
  .boxH1 {
    height: 50vh;
  }
  .boxH41 {
    width: 100%;
    height: 30vh;
    margin: 25px;
    border-bottom: solid #34db37;
    border-top: solid #34db37;
    font-size: 20px;
  }
  .boxH42 {
    display: none;
  }
  .boxH21 {
    padding: 3px;
    width: 100%;
    height: 30vh;
    margin: 25px;
    border-bottom: solid #34db37;
    border-top: solid #34db37;
    font-size: 20px;
  }

  .boxH2 {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .boxH22 {
    display: none;
  }
  .boxH3,
  .boxH5 {
    height: 50vh;
  }
}
