.loginBody {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,rgba(214, 224, 200, 0.431),rgba(194, 194, 230, 0.226));
  background-size: cover;
}

.loginContainer {
  border: 1px solid rgb(26, 21, 21);
  border-radius: 20px;
  width: 450px;
  height: 60vh;
  margin-bottom: 80px;
  background-color: rgba(167, 172, 169, 0.3);

}

.loginHeading{
  
  padding-left: 40%;
  margin-top: 30px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.loginInput {

  margin-bottom: 30px;
  padding: 10px 10px;
}

.loginButton {
  padding: 10px;
  background: rgb(117, 214, 149);
  border: none;
  font-weight: bold;
  color: aliceblue;
}

#loader {
  display: none;
}

.loginRegister{
  
  cursor: pointer;
  
  margin-top: 20px;
}
.loginRegister:hover{
  color: rgb(157, 81, 81);
}