.loginBody {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('https: //cutewallpaper.org/27/background-wallpaper-hd-green/3169227149.jpg'); */
  background: linear-gradient(rgba(0, 0, 0, 0.457), rgba(0, 0, 0, 0.5)),
    url("https://t3.ftcdn.net/jpg/02/98/72/10/360_F_298721084_eu9PA4zWq4kljHDOcB8cDl2l6YJRulHO.jpg")
      center/cover no-repeat;

  background-size: cover;
}

.loginContainer {
  border: 1px solid rgb(26, 21, 21);
  border-radius: 20px;
  width: 450px;
  height: auto;
  margin-bottom: 80px;
  background-color: rgba(176, 176, 176, 0.479);
  backdrop-filter: blur(5px);
}

.loginHeading {
  
  padding-left: 35%;
 
  margin-top: 30px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 8;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.loginInput {
  margin-bottom: 30px;
  padding: 10px 10px;
  border-radius: 7px;
background-color: rgb(255, 255, 255);
/* border: solid 3px greenyellow; */
}

.loginButton {
  padding: 10px;
  background: rgb(28, 91, 164);
  border: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 5px;

  
  
}

.spinnerLoader{
  color: aliceblue;
  display: none;
}

#loader {
  color:white;
  display: none;
}

.loginRegister {
  cursor: pointer;
  color: greenyellow;
margin-left: 170px;
font-size: large;
  margin-top: 45px;
  padding-bottom: 30px;
}
.loginRegister:hover {
  color: rgb(255, 255, 255);
}

.errorLogin {
  color: rgb(206, 22, 22);
}
.errorHandler {
  margin-top: 10px;

  display: flex;
  justify-content: center;
}
